/* COLORS */
:root {
    --stripe: #f9b967;
    --bg: #f7ecd9;
    --card-bg: #f9b967;
    --card-inner: #ffffff;
    --text-dark: #2a2a2a;
}

body, html {
    margin: 0;
    padding: 0;
    background: var(--bg);
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* TOP + BOTTOM STRIPES */
.stripe-top,
.stripe-bottom {
    width: 100%;
    height: 60px;
    background: var(--stripe);
}

/* PAGE LAYOUT */
.page-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
}

.left-side {
    width: 55%;
    text-align: center;
    justify-content: center;
}

.right-side {
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.brand {
    font-size: 80px;
    font-weight: 1000;
    letter-spacing: 4px;
    margin-bottom: 16px;
}

.mission-text {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 34px;
}

.flower-icon {
    width: 110px;
    transform: translateY(10px);
    margin: 0 14px;
}

.coffee-photo {
    width: 680px;
    height: 454px;
    border-radius: 4px;
}

/* LOGIN CARD */
.login-container {
    background: var(--card-bg);
    padding: 70px 80px;
    border-radius: 4px;
    width: 480px;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 10px;
    background: var(--card-inner);
    font-size: 20px;
    margin-bottom: 22px;
}

.btn-submit {
    width: 200px;
    padding: 16px;
    margin-top: 14px;
    background: #2e2e2e;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}

/* ERROR MSG */
.msg-error {
    margin-top: 12px;
    color: darkred;
    font-size: 15px;
}

/* RESPONSIVE 1367px */
@media (max-width: 1367px) {

    .page-wrapper {
        gap: 40px;
        padding-top: 40px;
        max-width: 1200px;
    }

    .left-side {
        width: 50%;
    }

    .right-side {
        width: 50%;
    }

    .brand {
        font-size: 60px;
    }

    .flower-icon {
        width: 80px;
    }

    .mission-text {
        font-size: 18px;
    }

    .coffee-photo {
        width: 520px;
        height: auto;
    }

    .login-container {
        width: 420px;
        padding: 50px 60px;
    }

    label {
        font-size: 20px;
    }

    input {
        font-size: 18px;
        padding: 12px;
    }

    .btn-submit {
        font-size: 20px;
        padding: 14px;
        width: 180px;
    }
}
