# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
djangoenv/
.env

# SQLite database
data/db.sqlite3
data

# Django stuff:
*.log
staticfiles/
media/

# PyCharm project settings
.idea/

# VSCode (if anyone uses it)
.vscode/

# System files
.DS_Store
Thumbs.db
/coffeeshop/cookies.txt


